<html>
<head>
<title>Test</title>
</head>
 
<body>
Your choice was <%= @player_choice %>,
Computer choice is <%= @computer_choice %>.
 
<%= @result %>
 
<ul>
<li>
<a href="/play/rock">Rock</a>
</li>
<li>
<a href="/play/paper">Paper</a>
</li>
<li>
<a href="/play/scissors">Scissors</a>
</li>
</ul>
</body>
</html>