<html>
<head>

<title>Test</title>

 <style>
 ul {
 	list-style: none;
  }
  li {
  	float: left;
  }
 </style>

</head>

<body>
Your choice was <%= @player_choice %>,
Computer choice is <%= @computer_choice %>.
 
<%= @result %>
 
<ul>
<li>
<a href="/play/rock"><img src ="/Rock.jpg"></a>
</li>
<li>
<a href="/play/paper"><img src ="/Paper.jpg"></a>
</li>
<li>
<a href="/play/scissors"><img src ="/Scissors.gif"></a>
</li>
</ul>
</body>
</html>